body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.close {
    color: #99C6FF;
}

.close:hover {
    color: #1F7AFF;
}

.title {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #1F7AFF;
}

.first_text {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #092A58;
}

.second_text {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #454545;
}

.next,
.prev {
    width: 63px;
    height: 36px;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.carousel-inner {
    height: 522px;
}

img {
    min-height: 100%;
}

.col-lg-6 {
    min-height: 522px;
}

.carousel-indicators li {
    background-color: #1F7AFF;
    border-radius: 50%;
    width: 6px;
    height: 6px;
    margin: 0 6px;
}

.carousel-indicators {
    position: static;
    margin: 0 40px;
}